@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content{
    padding: 50px;
    margin: 50px;
}
.danger {
  color: #d9534f; /* Bootstrap danger color */
  font-size: 12px; /* Smaller font for error messages */
  margin-top: 5px; /* Space above error messages */
}
h1{
    font-family: cursive !important;
    font-size: 1.3rem !important;
    text-align: center;
}

.globalButton {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s ease;
    color: #333;
    margin-top:20px;
    margin-right: 15px;
  }
  
  .globalButton:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .globalButton:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  .newbutton {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #1D1D1D;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #ffffff;
    margin-top:20px;
    margin-right: 15px;
  }
  
  .newbutton:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .newbutton:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  input[matInput], 
textarea[matInput], 
mat-select {
    width: 100%; /* Full width for inputs */
    padding: 10px; /* Padding for inputs */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth transition for focus */
}

/* Focus effect for inputs */
input[matInput]:focus, 
textarea[matInput]:focus, 
mat-select:focus {
    border-color: #3e8b3e; /* Change border color on focus */
    outline: none; /* Remove default outline */
    border-width: 3px;
}
